.form{
    padding: 45px 47px;
    display: grid;
    row-gap: 28px;
}

.form__input{
    border: 1px solid #756E6E;
    width: 100%;
    height: 46px;
    border-radius: 50px;
    text-align: center;
}

.form__title{
    margin-bottom: 7px;
}

.font__more{
    text-align: center;
}

.form__btn{
    padding: 12px 36px;
    border-radius: 50px;
    background-color: $title-color;
    color: white;
    display: inline-block;
}