@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins&family=Raleway:wght@400;500;700&display=swap');


html{
    overflow-x: hidden;
}

.no-scroll{ 
    overflow: hidden;
}

body{
    overflow-x: hidden;
    font-family: $font-main;
    font-size: 18px;
}

.container{
    max-width: 1224px;
    margin: 0 auto;
}

.container-2{
    max-width: 1265px;
    margin: 0 auto;
}

.container-3{
    max-width: 1190px;
    margin: 0 auto;
}

.container-4{
    max-width: 1124px;
    margin: 0 auto;
}


a{
    color: black;


    &:hover{
        border-bottom: 2px solid $title-color;
    }
}


span{
    color: #39C260;
}