// Fonts
$font-main: 'DM Sans', sans-serif;
$font-title: 'Raleway', sans-serif;
$font-text: 'Poppins', sans-serif;
// Colors
$title-color: #1b424c;
$text-color: #424545;

// MEdia

$tablet: 999px;
$img: 1350px;